node_modules/
.env
.env.*
!.env.example

uploads/*
!uploads/.gitkeep
!uploads/worksheets/
uploads/worksheets/*
!uploads/worksheets/.gitkeep

public/invoices/*
!public/invoices/.gitkeep
public/lhu/*
!public/lhu/.gitkeep
public/worksheets/*
!public/worksheets/.gitkeep

*.log
.DS_Store
